<div class="module_sec left-body desctop-content" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 


		 	<div class="content animated bounceInLeft"">
		 		<div class="content-title">
		 			Выбирай свой подарок <br /> и заполняй заявку
		 		</div>
		 		<div class="line"></div>
		 	</div>		
	 	</div>

	
		<a class="btn_1 desctop-1700" href="">
			<div class="bg">
				<span>@@include('calculator.svg')</span>
			</div>
			<div class="name-button">Онлайн расчёт проекта</div>
		</a>

    </div>
  </div>
</div>


<div class="module_sec left-body mobile-content" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 		
	 	</div>	
    </div>
  </div>
</div>