<div class="module_sec right-body animated slideInRight desctop-content">
	<div class="module_container">
		<div class="module_wrapper">

			<div class="right-body-content">
				<div class="advantages">
					<div class="advantages-wrapper">
						
						<div class="advantage">
							<div class="advantage-title">Вытяжка</div>
							<div class="advantage-desc">
								Дарим вытяжку фирмы <span>LEX</span>
								( качественные вытяжки 
								из любых материалов)
							</div>
							<div class="line"></div>
						</div>

						<div class="advantage">
							<div class="advantage-title">Столешница</div>
							<div class="advantage-desc">
								Дарим стильную 
								столешницу любого цвета
							</div>
							<div class="line"></div>
						</div>

						<div class="advantage">
							<div class="advantage-title">Мойка</div>
							<div class="advantage-desc">
								Дарим мойку фирм <span>Оulin</span>
								(нержавеющая сталь
								 премиум класса)
								или <span>DR.GANS</span>
								(ультрамодные мойки 
								из литого мрамора) 
							</div>
						</div>

						<div class="advantage">
							<div class="advantage-title">Клининговая уборка</div>
							<div class="advantage-desc">
								Дарим <span>сертификат на уборку</span>
								от лучшей клиниговой
								компании города 
							</div>
						</div>												

					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="caption">
		<span>Твоя мебель.</span>
	</div>

	<div class="routes">
		<a href="#"><img src="images/left.png" alt=""></a>
		<a href="#"><img src="images/right.png" alt=""></a>
	</div>

	<img class="gift desctop-1700" src="images/podarok.png">
</div>  

<div class="mobile-content">
	<div class="module_sec right-body animated slideInRight">
		<div class="module_container">
			<div class="module_wrapper">

				<div class="right-body-content">
					<div class="advantages">
						<div class="advantages-wrapper">
							
							<div class="advantage">
								<div class="advantage-title">Вытяжка</div>
								<div class="advantage-desc">
									Дарим вытяжку фирмы <span>LEX</span>
									( качественные вытяжки 
									из любых материалов)
								</div>
								<div class="line"></div>
							</div>

							<div class="advantage">
								<div class="advantage-title">Столешница</div>
								<div class="advantage-desc">
									Дарим стильную 
									столешницу любого цвета
								</div>
								<div class="line"></div>
							</div>										
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> 

	<div class="action">
		<div class="action-title">
			Выбери свой <br />подарок <br /> и заполняй<br/> заявку!
		</div>
		<div class="action-bg">
			<img src="images/podarok.png">
		</div>	
	</div>

	<div class="module_sec right-body animated slideInRight">
		<div class="module_container">
			<div class="module_wrapper">

				<div class="right-body-content">
					<div class="advantages">
						<div class="advantages-wrapper">

							<div class="advantage">
								<div class="advantage-title">Мойка</div>
								<div class="advantage-desc">
									Дарим мойку фирм <span>Оulin</span>
									(нержавеющая сталь
									 премиум класса)
									или <span>DR.GANS</span>
									(ультрамодные мойки 
									из литого мрамора) 
								</div>
							</div>

							<div class="advantage">
								<div class="advantage-title">Клининговая уборка</div>
								<div class="advantage-desc">
									Дарим <span>сертификат на уборку</span>
									от лучшей клиниговой
									компании города 
								</div>
							</div>												

						</div>
					</div>
				</div>

				<a class="btn_2" href="">
					<div class="bg">
						<span>@@include('007-gift.svg')</span>
					</div>
					<div class="name-button">Заполнить заявку</div>
				</a>

				<div class="routes">
					<a href="#"><img src="images/left.png" alt=""></a>
					<a href="#"><img src="images/right.png" alt=""></a>
				</div>
	
			</div>
		</div>

	</div> 	 	
</div>
