.left-nav-fixed {
	display: none;
	position: fixed;
	top: 0;
	left: 0;	
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.49);
	z-index: 1000;
	
	.line {
		margin-top: 12%;
		width: 75px;
		height: 4px;
		background-color: #3a3a3a;
	}
	.nav {
		transition: 0.4s;
		position: fixed;
		top: 0;
		left: -100%;
	    width: 100%;
	    max-width: 442px;
		height: 100%;
		padding-left: 5%;

		background-color: #FFF;
	}


	.logo {
		margin-top: 10%;
	}

	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;

		a {
			display: inline-block;
			width: 100%;
			max-width: 168px;
			position: relative;
			font-family: $CouriBold;
			font-size: 16px;
			color: #3a3a3a !important;		
			text-decoration: none !important;
		}
	}

	li {
		margin-top: 35px;
	}

	li.active {
		a:after {
			content: "";
			position: absolute;
			right: 0;
			display: inline-block;
			width: 8px;
			height: 8px;
			top: 6px;
			@include radius;
			background-color: #3a3a3a;
		}
	}

	li:hover {
		transition: 0.4s;
		opacity: 0.7;
	}

	[class*="btn_"] {
		margin-top: 40px;
	}

	.social {
		float: left;
		background-color: #FFF;
		text-align: center;
		padding: 20px 0;

		a {
			transition: 0.4s;
			display: inline-block;
			margin-right: 38px;
			text-decoration: none !important;
		}

		a:not(:first-child) {
			margin-top: 25px;
		}

		i {
			transition: 0.4s;
			color: #3a3a3a;
			font-size: 35px;
		}

		a:hover {	
			transform: scale(0.9);
			i {
				color: #9c9c9c;
			}
		}	
	}	


	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #FFF;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #3a3a3a;
	}
}



.left-nav-fixed.active {
	.nav {
		left: 0;
	}
}

@media screen and (max-width: 620px) and (min-width: 320px)  {
	.left-body {

		.top-nav {
			.contact {
				display: none;
			}

			.nav {
				float: right !important;
			}
		}

	}
}