<div class="module_sec left-body" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	<div class="mobile-bg"></div>
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 


		 	<div class="content animated bounceInLeft"">
		 		<div class="content-title">
		 			Рассчитайте стоимость<br /> вашей кухни
		 		</div>
		 		<div class="line-title"></div>

		 		<form class="">

		 			<div class="calc">
		 				<div class="calc-wrapper">

		 					<div class="calc-item">
		 						<div class="calc-title">
		 							<span>L:</span> Длинна левой
									стены(см)
		 						</div>
		 						<div class="inputs">
		 							<input type="text" placeholder="00">
		 							<div class="msg"></div>
		 						</div>
		 					</div>

		 					<div class="calc-item">
		 						<div class="calc-title">
		 							<span>T:</span> Длинна центральной
									стены(см)
		 						</div>
		 						<div class="inputs">
		 							<input type="text" placeholder="00">
		 							<div class="msg"></div>
		 						</div>
		 					</div>

		 					<div class="calc-item">
		 						<div class="calc-title">
		 							<span>R:</span> Длинна правой
									стены(см)
		 						</div>
		 						<div class="inputs">
		 							<input type="text" placeholder="00">
		 							<div class="msg"></div>
		 						</div>
		 					</div>


		 				</div>
		 			</div>


		 			<div class="forms">

		 				<div class="inputs">
		 					<div class="input">
								<div class="bg">
									<span>@@include('001-avatar.svg')</span>
								</div>
								<input type="text" name=""  placeholder="Введите Ваше имя*">								
		 					</div>

		 					<div class="input">
								<div class="bg">
									<span>@@include('006-phone-call.svg')</span>
								</div>
								<input type="text" name=""  placeholder="Введите Ваше имя*">		 						
		 					</div>
		 					
		 					<div class="input">
								<div class="bg">
									<span>@@include('005-envelope.svg')</span>
								</div>
								<input type="text" name=""  placeholder="Введите Ваше имя*">		 						
		 					</div>
		 				</div>

		 				<div class="inputs">
		 					<textarea placeholder="Ваши пожелания и вопросы "></textarea>
		 				</div>

						<div class="inputs fix">

							<div class="btn_load-file">
								<div class="load-file-caption">Прикрепить план кухни (если есть)</div>
								<div class="load-file-name">Выбрать файл</div>
							</div>

							<div class="btn_4">
								<div class="btn-bg">
									<span>@@include('calculator.svg')</span>
								</div>
								<div class="name-button">Онлайн расчет</div>
							</div>
						</div>

		 			</div>
		 		</form>

		 	</div>		
	 	</div>

	

    </div>
  </div>
</div>