<div class="module_sec left-body" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 


		 	<div class="content animated bounceInLeft"">
		 		<img  class="achtung" src="images/achtung.png">
		 	</div>		
	 	</div>

    </div>
  </div>
</div>