<div class="module_sec right-body animated slideInRight">
	<div class="module_container">
		<div class="module_wrapper">

			<div class="right-body-content">

				<div class="advantages">


					<div class="advantages-wrapper">
						<div class="advantages-title">Преимущества</div>		

						<div class="advantage">
							<div class="advantage-title">
								Австрийская<br />фурнитура Blum
							</div>
							<div class="advantage-desc">
								Все кухни оборудованы<br />
								доводчиками, которые <br />
								обеспечивают плавное <br />
								бесшумное закрывание
							</div>
							<div class="line"></div>
						</div>

						<div class="advantage">
							<div class="advantage-title">
								Поставщики<br />из Европы
							</div>
							<div class="advantage-desc">
								Европейское качество, <br />
								с Китаем не работаем <br />
								принципиально
							</div>
							<div class="line"></div>
						</div>

						<div class="advantage">
							<div class="advantage-title">Гарантия 3 год</div>
							<div class="advantage-desc">
								Если что то пошло не так, <br />
								приедем и исправим <br />
								все бесплатно.
							</div>
						</div>

						<div class="advantage">
							<div class="advantage-title">Больше 10 лет на рынке</div>
							<div class="advantage-desc">
								За нашими плечами <br />
								большой опыт работы
							</div>
						</div>

						<div class="advantage">
							<div class="advantage-title">
								Широкий ассортимент <br /> 
								материалов и цветов
							</div>
							<div class="advantage-desc">
								Воплотим в реальность <br />
								любое ваше желание 
							</div>
						</div>												

						<div class="advantage">
							<div class="advantage-title">
								Доставка и сборка
							</div>
							<div class="advantage-desc">
								Наши компетентные, <br />
								опрятные замерщики <br />
								и сборщики мебели <br />
								всегда унесут мусор за собой 

							</div>
						</div>	

						<div class="advantage">
							<div class="advantage-title">
								Сроки прописываются <br />
								в договоре
							</div>
							<div class="advantage-desc">
								В случае нарушения <br />
								сроков клиенты <br />
								получают <br />
								денежную компенсацию
							</div>
						</div>	

						<div class="advantage">
							<div class="advantage-title">
								Встраиваем свет,<br />
								технику <br />
								и сантехнику
							</div>
							<div class="advantage-desc">
								Сделаем все и сразу 
							</div>
						</div>	


					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="caption">
		<span>Твоя мебель.</span>
	</div>

	<div class="routes">
		<a href="#"><img src="images/left.png" alt=""></a>
		<a href="#"><img src="images/right.png" alt=""></a>
	</div>
</div>  

