<div class="module_sec left-body" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 


		 	<div class="content">
		 		<div class="content-title">
		 			Фурнитура Blum
		 		</div>

		 		<div class="line-title"></div>

		 		<div class="items">
		 			<div class="items-wrapper">

		 				<div class="item">
		 					<div class="item-descs">
		 						<div class="item-title animated fadeInDown">Подъемные механизмы.</div>
		 						<div class="item-desc">
									Подъемные механизмы AVENTOS не ограничивают свободу движений и предоставляют достаточно свободного пространства над головой владельца мебели, являясь наиболее эргономичным решением для верхнего пояса кухни.		 							
		 						</div>
		 					</div>
		 					<div class="item-bg animated fadeIn"><img src="images/blum-1.jpg"></div>
		 				</div>

		 				<div class="item">
		 					<div class="item-descs">
		 						<div class="item-title animated fadeInDown">Системы петель.</div>
		 						<div class="item-desc">
									Петли Blum обеспечивают удобное открывание и мягкое бесшумное закрывание фасадов.		 							
		 						</div>
		 					</div>
		 					<div class="item-bg animated fadeIn"><img src="images/blum-2.jpg"></div>
		 				</div>

		 				<div class="item">
		 					<div class="item-descs">
		 						<div class="item-title animated fadeInDown">Системы выдвижени</div>
		 						<div class="item-desc">
									Системы выдвижения Blum отвечают разнообразным тенденциям в дизайне мебели и впечатляют превосходным качеством скольжения.	 							
		 						</div>
		 					</div>
		 					<div class="item-bg animated fadeIn"><img src="images/blum-3.jpg"></div>
		 				</div>

		 				<div class="item">
		 					<div class="item-descs">
		 						<div class="item-title animated fadeInDown">Подъемные механизмы.</div>
		 						<div class="item-desc">
									Функциональные внутренние разделители Blum обеспечивают порядок во всех ящиках. Это позволяет оптимально использовать полезное пространство с учетом индивидуальных потребностей.	 							
		 						</div>
		 					</div>
		 					<div class="item-bg animated fadeIn"><img src="images/blum-4.jpg"></div>
		 				</div>	 						 						 				

		 			</div>
		 		</div>

		 	</div>		
	 	</div>
	
		<div class="caption">
			<span>Твоя мебель.</span>
		</div>
			
		<img class="separator" src="images/blum.png" alt="">			
    </div>
  </div>
</div>

<div class="routes">
	<a href="#"><img src="images/left.png" alt=""></a>
	<a href="#"><img src="images/right.png" alt=""></a>
</div>