<div class="module_sec right-body  animated slideInRight">
	<div class="module_container">
		<div class="module_wrapper">
			<div class="module_title"></div>

			<div class="right-body-content">

				<div class="contacts">
					<div class="contacts-title">Контактная информация.</div>

						<div class="contact fix">
							<span class="contact-icon">@@include('006-phone-call.svg')</span>
							<span class="contact-value">@@data.phone</span>
						</div>

						<div class="contact">
							<span class="contact-icon">@@include('005-envelope.svg')</span>
							<span class="contact-value">manager@atm-tmn.ru</span>
						</div>

						<div class="contact">
							<span class="contact-icon">@@include('004-home.svg')</span>
							<span class="contact-value">г.Тюмень, ул.Мельникайте</span>
						</div>

						<div class="contact">
							<span class="contact-icon">@@include('003-clock.svg')</span>
							<span class="contact-value">
								с 10:00 до 19:00 <br />
								без выходных
						</span>
						</div>
																		
				</div>

			</div>

		</div>
	</div>

	<div class="caption">
		<span>Твоя мебель.</span>
	</div>

	<div class="routes">
		<a href="#"><img src="images/left.png" alt=""></a>
		<a href="#"><img src="images/right.png" alt=""></a>
	</div>
</div>  

	<img  class="separator-bottom" src="images/ruki.png" alt="">

