<div class="module_sec left-body" self="left-body">
  <div class="module_container">
    <div class="module_wrapper">
	 	
	 	<div class="left-nav">
	 		<div class="social">
	 			<a href="#"><i class="fa fa-vk"></i></a>	
	 			<a href="#"><i class="fa fa-instagram"></i></a>	
	 		</div>
	 	</div>

	 	<div class="left-body-content">
		 	<div class="top-nav">
		 		<div class="logo">
		 			<a href="#"><img src="images/logo.png" alt=""></a>
		 		</div>

		 		<div class="nav">
		 			<span class="burger" check="false"><img src="images/burger.png" alt=""></span>
		 		</div>

		 		<div class="contact">
		 			<span class="phone">
		 				<a href="@@data.tel">@@data.phone</a>
		 			</span>
		 		</div>
		 	</div>	 


		 	<div class="content">
		 		<div class="content-title">
		 			Фурнитура Blum
		 		</div>

		 		<div class="line-title"></div>

		 		<div class="items">
		 			<div class="items-wrapper">

		 				<div class="item">
							<div class="item-bg animated fadeIn"><img src="images/author-1.png"></div>		 					
		 					<div class="item-title animated fadeInDown">Максим треск</div>
		 					<div class="item-desc">
								Хочу выразить данной компании огромную благодарность за прекрасно созданную кухню. У меня довольно нестандартные параметры квартиры, поэтому очень переживал за воплощение кухни, когда обращался в данную компанию. Хотелось сделать интерьер особенным и непохожим ни на что другое. Мысленно я представлял, что хочу увидеть, и в итоге моя мечта воплотилась в реальность. Если говорить о сроках, то сделали даже быстрее на дня два. Спасибо огромное дизайнеру, который внимательно выслушал и внёс дополнительные корректировки в проект. Спасибо всем тем, кто создавал для меня это чудо.		
		 					</div>
		 				</div>	 	

		 				<div class="item">
							<div class="item-bg animated fadeIn"><img src="images/author-2.png"></div>		 					
		 					<div class="item-title animated fadeInDown">Сергей разумный</div>
		 					<div class="item-desc">
								Решил заказать кухню в салоне “Твоя Атмосфера”, но прежде проверил цены в других магазинах. Был свой макет, с которым я приходил в другие фирмы. Но, стоимость оказывалась в два, а то и в три раза больше. На мечте экономить не хотел, но и переплачивать смысла не видел. В результате вернулся к “Твоя Атмосфера”. Зря сомневался, что за такую цену они мне сделают что-то красивое. Но! Получилось шикарно! 
								С уверенностью говорю, что они мастера своего дела. Так что тут и думать не стоит - нужно заказывать здесь! Позже тут же заказал шкаф-купе, потому что цена приятная и качество отличное.	
		 					</div>
		 				</div>

		 				<div class="item">
							<div class="item-bg animated fadeIn"><img src="images/author-3.png"></div>		 					
		 					<div class="item-title animated fadeInDown">Эдуард Гонгадзе</div>
		 					<div class="item-desc">
								Решил заказать кухню в салоне “Твоя Атмосфера”, но прежде проверил цены в других магазинах. Был свой макет, с которым я приходил в другие фирмы. Но, стоимость оказывалась в два, а то и в три раза больше. На мечте экономить не хотел, но и переплачивать смысла не видел. В результате вернулся к “Твоя Атмосфера”. Зря сомневался, что за такую цену они мне сделают что-то красивое. Но! Получилось шикарно! 
								С уверенностью говорю, что они мастера своего дела. Так что тут и думать не стоит - нужно заказывать здесь! Позже тут же заказал шкаф-купе, потому что цена приятная и качество отличное.	
		 					</div>
		 				</div>
		 						 						 									 						 				
		 			</div>
		 		</div>

		 	</div>		
	 	</div>
	
		<div class="caption">
			<span>Твоя мебель.</span>
		</div>
			
		<a class="btn_1" href="">
			<div class="bg">
				<span>@@include('flamp.svg')</span>
			</div>
			<div class="name-button">Все отзывы на Flamp.ru</div>
		</a>

    </div>
  </div>
</div>

<div class="routes">
	<a href="#"><img src="images/left.png" alt=""></a>
	<a href="#"><img src="images/right.png" alt=""></a>
</div>