@@include('header.html', {
	"title": "Фабрика кухни \"Твоя Атмосфера\". Кухни на заказ в Тюмени",
	"desc": "Мебельная компания \"Твоя Атмосфера\". Кухни из МДФ, ДСП, кухни из массива на заказ. Бесплатный замер и дизайн проекта.Фурнитура Blum. Купить кухню в Тюмени по акции. Фабрика мебели.",
	"h1": "Кухни \"Твоя Атмосфера\"",
	"css": [
		"template-2"
	]
})	

@@include('site/modules/nav-fixed-left/module.html')
<div class="modules">
	@@include('site/modules/page-2/module.html')
</div>

<footer>
	
</footer>


@@include('footer.html', {
	"js": [
		"template-2"
	]
})
